<div class="footer">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright">
                    &copy; 2019 por <a href="https://manarrh.com.br/">Manar RH</a>. Todos direitos reservados.
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer align-items-center justify-content-end">
                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/registry" class="nav-link">Registrar</a>
                    </li>
                    <div class="nav-item ml-4">
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg badge-circle"
                                data-toggle="tooltip" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg badge-circle"
                                data-toggle="tooltip" data-original-title="Facebook">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#"
                                class="btn btn-neutral btn-icon-only btn-instagram btn-lg btn-round badge-circle"
                                data-toggle="tooltip" data-original-title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" class="btn btn-neutral btn-icon-only btn-youtube btn-round btn-lg badge-circle"
                                data-toggle="tooltip" data-original-title="Youtube">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>