<section id="secaoContato" class="section section-lg bg-default section-contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="display-3 text-white px-4 px-lg-0">Alguma dúvida? Entre em contato</h2>
                    <p class="lead text-white mt-3">Preencha o formulário a seguir, ou entre em contato por telefone.
                    </p>
                    <ul class="list-unstyled mt-4">
                        <li class="py-2 px-4 px-lg-0">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="badge badge-circle badge-white mr-3 d-none d-lg-flex">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="mb-0 text-white">contato@dig.com.br</h6>
                                </div>
                            </div>
                        </li>
                        <li class="py-2 px-4 px-lg-0">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="badge badge-circle badge-white mr-3 d-none d-lg-flex">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="mb-0 text-white">(11) 99000 1234</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="form-contact">
                        <div class=" px-4 px-lg-0 px-lg-5 mt-3">
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Seu nome" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Seu e-mail" type="email">
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <textarea class="form-control form-control-alternative" name="name" rows="5" cols="80"
                                    placeholder="Escreva uma mensagem..."></textarea>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger btn-circle btn-block btn-lg">Enviar
                                    Mensagem</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>