<div class="position-relative">
    <section class="section section-lg section-hero section-shaped bg-image-homepage">
        <div class="shape shape-style-1 shape-primary"></div>
        <div class="container shape-container d-flex align-items-center py-lg">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8 text-center">
                        <img alt="image" src="./assets/img/logo-white.png" style="width: 200px;" class="img-fluid">
                        <p class="home-banner-text">Promovendo o encontro de profissionais e organizações com
                            alinhamento de
                            objetivos e valores.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-secondary bg-texture">
        <div class="container">
            <div class="card card-profile shadow border-0 pb-4 mt--200 mb--200">
                <div id="secaoComoFunciona" class="row row-grid justify-content-center pb-4 pb-lg-5">
                    <div class="col-lg-9 text-center">
                        <h2 class="display-3">Conecte-se com a oportunidade certa para você, <span
                                class="text-primary d-inline">utilize o DiG e
                                descubra como é fácil!</span></h2>
                        <p class="lead">O DiG é uma plataforma direcionada para profissionais e organizações que através
                            de uma metodologia exclusiva com questionários une esses dois atores favorecendo relações
                            profissionais. Veja abaixo como funciona.</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="row no-gutters border-top">
                        <div class="col-lg-3 order-lg-1">
                            <div class="card card__line-graph card__line-graph--1 pt-4 pt-lg-0" data-aos="fade-down"
                                data-aos-duration="600">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="text-right">
                                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-2">
                                                <strong>01</strong>
                                            </div>
                                            <h5 class="title text-primary">Cadastre-se</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rotam eaque
                                                magnam tempore ratione
                                                laborum, animi facere expedita.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card__line-graph card__line-graph--3 d-none d-lg-block"
                                data-aos="fade-down" data-aos-duration="600">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="text-right">
                                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-2">
                                                <strong>03</strong>
                                            </div>
                                            <h5 class="title text-primary">Preencha seu perfil</h5>
                                            <p>Officia sed dignissimos neque, quaerat vitae magni aspernatur minima vel?
                                                Iusto, itaque.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- INÍCIO: Visível só no tablet/celular -->
                            <div class="card card__line-graph card__line-graph--2 d-lg-none" data-aos="fade-down"
                                data-aos-duration="600">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="text-left">
                                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-2">
                                                <strong>02</strong>
                                            </div>
                                            <h5 class="title text-primary">Responda o questionário</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
                                                dolores voluptatum!
                                                Molestias ipsa reprehenderit minusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIM -->
                        </div>
                        <div class="col-lg-3 order-lg-3">
                            <div class="card card__line-graph card__line-graph--2 d-none d-lg-block"
                                data-aos="fade-down" data-aos-duration="600">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="text-left">
                                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-2">
                                                <strong>02</strong>
                                            </div>
                                            <h5 class="title text-primary">Responda o questionário</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
                                                dolores voluptatum!
                                                Molestias ipsa reprehenderit minusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- INÍCIO: Visível só no tablet/celular -->
                            <div class="card card__line-graph card__line-graph--3 d-lg-none" data-aos="fade-down"
                                data-aos-duration="600">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="text-right">
                                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-2">
                                                <strong>03</strong>
                                            </div>
                                            <h5 class="title text-primary">Preencha seu perfil</h5>
                                            <p>Officia sed dignissimos neque, quaerat vitae magni aspernatur minima vel?
                                                Iusto, itaque.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIM -->
                            <div class="card card__line-graph card__line-graph--4" data-aos="fade-down"
                                data-aos-duration="600">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="text-left">
                                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-2">
                                                <strong>04</strong>
                                            </div>
                                            <h5 class="title text-primary">Aguarde o resultado</h5>
                                            <p>Deserunt at beatae earum sit ipsa, nihil perferendis repudiandae
                                                pariatur, amet hic quia
                                                aperiam, architecto sapiente quas.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-2">
                            <div id="digGraficoLinhas">
                                <!-- INÍCIO SVG com Gráfico de Linhas animado -->
                                <svg id="digGraficoLinhasSvg" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 419.3 1243.8">
                                    <circle class="st0" cx="208.9" cy="1139.5" r="89" />
                                    <path class="st1"
                                        d="M208.9 1051c48.8 0 88.5 39.7 88.5 88.5s-39.7 88.5-88.5 88.5-88.5-39.7-88.5-88.5 39.7-88.5 88.5-88.5m0-1c-49.4 0-89.5 40.1-89.5 89.5s40.1 89.5 89.5 89.5 89.5-40.1 89.5-89.5-40.1-89.5-89.5-89.5z" />
                                    <circle class="st1" cx="208.9" cy="1139.5" r="48" />
                                    <path class="st1"
                                        d="M208.9 1092.5c25.9 0 47 21.1 47 47s-21.1 47-47 47-47-21.1-47-47 21.1-47 47-47m0-2c-27.1 0-49 21.9-49 49s21.9 49 49 49 49-21.9 49-49-21.9-49-49-49z" />
                                    <path class="st0" d="M212.8 1134.7h23.6v30h-23.6z" />
                                    <path class="st1" d="M235.9 1135.2v29h-22.6v-29h22.6m1-1h-24.6v31h24.6v-31z" />
                                    <path class="st0" d="M182.4 1115.7h37.1v49.1h-37.1z" />
                                    <path class="st1" d="M219 1116.2v48.1h-36.1v-48.1H219m1-1h-38.1v50.1H220v-50.1z" />
                                    <path class="st1"
                                        d="M185.7 1121.2h8.2v8.2h-8.2zM196.6 1121.2h8.2v8.2h-8.2zM207.5 1121.2h8.2v8.2h-8.2zM185.7 1134.2h8.2v8.2h-8.2zM196.6 1134.2h8.2v8.2h-8.2zM194.4 1149.5h13.1v13h-13.1zM207.5 1134.2h8.2v8.2h-8.2zM223.3 1138.6h8.2v8.2h-8.2z" />
                                    <path class="st0" d="M185.7 1109.7h29.9v5.4h-29.9zM223.3 1131h8.2v3.3h-8.2z" />
                                    <path class="digLinha" fill="none" stroke="#457ff5" stroke-width="2"
                                        stroke-linejoin="round" stroke-miterlimit="10"
                                        d="M209.4 120.1v449h-49v155h98v236.1h-49v90.3" />
                                    <path class="digLinha" fill="none" stroke="#ff4047" stroke-width="2"
                                        stroke-linejoin="round" stroke-miterlimit="10"
                                        d="M38.4 101.6v270.5h145v176h-47v197h101v193.1h-53v128.3" />
                                    <path class="digLinha" fill="none" stroke="#43c9b9" stroke-linejoin="round"
                                        stroke-miterlimit="10" d="M112.4 95.6v554.8h99.4v266.5h-58.9" />
                                    <path class="digLinha" fill="none" stroke="#ff931e" stroke-linejoin="round"
                                        stroke-miterlimit="10" d="M306.4 95.6v226.5h-238v149.3h206.5v137.7h-207v64.8" />
                                    <path class="digLinha" fill="none" stroke="#1fb4ff" stroke-linejoin="round"
                                        stroke-miterlimit="10" d="M381.9 95.6v276.5h-155v176h86.5v235.7" />
                                    <g>
                                        <circle class="st7" cx="183.9" cy="1095.5" r="30" />
                                        <path class="st7"
                                            d="M183.9 1066.5c16 0 29 13 29 29s-13 29-29 29-29-13-29-29 13-29 29-29m0-2c-17.1 0-31 13.9-31 31s13.9 31 31 31 31-13.9 31-31-13.9-31-31-31z" />
                                    </g>
                                    <g>
                                        <circle class="st0" cx="313.3" cy="814.8" r="30.5" />
                                        <path class="st8"
                                            d="M313.3 784.8c16.5 0 30 13.5 30 30s-13.5 30-30 30-30-13.5-30-30 13.5-30 30-30m0-1c-17.1 0-31 13.9-31 31s13.9 31 31 31 31-13.9 31-31-13.9-31-31-31z" />
                                    </g>
                                    <g>
                                        <circle class="st0" cx="122.8" cy="916.9" r="30.5" />
                                        <path class="st9"
                                            d="M122.8 886.9c16.5 0 30 13.5 30 30s-13.5 30-30 30-30-13.5-30-30 13.4-30 30-30m0-1c-17.1 0-31 13.9-31 31s13.9 31 31 31 31-13.9 31-31-13.9-31-31-31z" />
                                    </g>
                                    <g>
                                        <circle class="st0" cx="67.9" cy="704.9" r="30.5" />
                                        <path class="st10"
                                            d="M67.9 674.9c16.5 0 30 13.5 30 30s-13.5 30-30 30-30-13.5-30-30 13.5-30 30-30m0-1c-17.1 0-31 13.9-31 31s13.9 31 31 31 31-13.9 31-31-13.9-31-31-31z" />
                                    </g>
                                    <g>
                                        <circle class="st0" cx="37.9" cy="71.6" r="30.5" />
                                        <path class="st7"
                                            d="M37.9 41.6c16.5 0 30 13.5 30 30s-13.5 30-30 30-30-13.5-30-30 13.5-30 30-30m0-1c-17.1 0-31 13.9-31 31s13.9 31 31 31 31-13.9 31-31-13.9-31-31-31z" />
                                        <g>
                                            <circle class="st7" cx="38.3" cy="59.3" r="8.4" />
                                            <path class="st7"
                                                d="M53.9 86.3c0 8.8-32 8.8-32 0s7.2-16 16-16 16 7.2 16 16z" />
                                        </g>
                                    </g>
                                    <g>
                                        <circle class="st0" cx="112.9" cy="71.6" r="30.5" />
                                        <path class="st9"
                                            d="M112.9 41.6c16.5 0 30 13.5 30 30s-13.5 30-30 30-30-13.5-30-30 13.5-30 30-30m0-1c-17.1 0-31 13.9-31 31s13.9 31 31 31 31-13.9 31-31-13.9-31-31-31z" />
                                        <g>
                                            <circle class="st9" cx="113.3" cy="59.3" r="8.4" />
                                            <path class="st9"
                                                d="M128.9 86.3c0 8.8-32 8.8-32 0s7.2-16 16-16 16 7.2 16 16z" />
                                        </g>
                                    </g>
                                    <g>
                                        <ellipse transform="matrix(.03328 -.9994 .9994 .03328 -784.979 997.541)"
                                            class="st9" cx="123.2" cy="904.5" rx="8.4" ry="8.4" />
                                        <path class="st9"
                                            d="M138.8 931.5c0 8.8-32 8.8-32 0s7.2-16 16-16 16 7.2 16 16z" />
                                    </g>
                                    <g>
                                        <circle class="st0" cx="305.9" cy="71.6" r="30.5" />
                                        <path class="st10"
                                            d="M305.9 41.6c16.5 0 30 13.5 30 30s-13.5 30-30 30-30-13.5-30-30 13.5-30 30-30m0-1c-17.1 0-31 13.9-31 31s13.9 31 31 31 31-13.9 31-31-13.9-31-31-31z" />
                                        <g>
                                            <circle class="st10" cx="306.3" cy="59.3" r="8.4" />
                                            <path class="st10"
                                                d="M321.9 86.3c0 8.8-32 8.8-32 0s7.2-16 16-16 16 7.2 16 16z" />
                                        </g>
                                    </g>
                                    <g>
                                        <circle class="st10" cx="68.3" cy="691.5" r="8.4" />
                                        <path class="st10"
                                            d="M83.9 718.5c0 8.8-32 8.8-32 0s7.2-16 16-16 16 7.2 16 16z" />
                                    </g>
                                    <g>
                                        <circle class="st0" cx="381.4" cy="71.6" r="30.5" />
                                        <path class="st8"
                                            d="M381.4 41.6c16.5 0 30 13.5 30 30s-13.5 30-30 30-30-13.5-30-30 13.5-30 30-30m0-1c-17.1 0-31 13.9-31 31s13.9 31 31 31 31-13.9 31-31-13.9-31-31-31z" />
                                        <g>
                                            <circle class="st8" cx="381.3" cy="59.3" r="8.4" />
                                            <path class="st8"
                                                d="M396.9 86.3c0 8.8-32 8.8-32 0s7.2-16 16-16 16 7.2 16 16z" />
                                        </g>
                                    </g>
                                    <g>
                                        <circle class="st8" cx="313.7" cy="802.4" r="8.4" />
                                        <path class="st8"
                                            d="M329.3 829.4c0 8.8-32 8.8-32 0s7.2-16 16-16 16 7.2 16 16z" />
                                    </g>
                                    <g>
                                        <circle class="st0" cx="209.9" cy="71.6" r="48.5" />
                                        <path class="st1"
                                            d="M209.9 23.6c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48m0-1c-27.1 0-49 21.9-49 49s21.9 49 49 49 49-21.9 49-49-21.9-49-49-49z" />
                                    </g>
                                    <g>
                                        <path class="st1" d="M212.8 67.9h23.6v30h-23.6z" />
                                        <path class="st0" d="M235.9 68.4v29h-22.6v-29h22.6m1-1h-24.6v31h24.6v-31z" />
                                        <path class="st1" d="M182.4 48.8h37.1v49.1h-37.1z" />
                                        <path class="st0" d="M219 49.3v48.1h-36.1V49.3H219m1-1h-38.1v50.1H220V48.3z" />
                                        <path class="st0"
                                            d="M185.7 54.3h8.2v8.2h-8.2zM196.6 54.3h8.2v8.2h-8.2zM207.5 54.3h8.2v8.2h-8.2zM185.7 67.4h8.2v8.2h-8.2zM196.6 67.4h8.2v8.2h-8.2zM194.4 82.6h13.1v13h-13.1zM207.5 67.4h8.2v8.2h-8.2zM223.3 71.7h8.2v8.2h-8.2z" />
                                        <path class="st1" d="M185.7 42.9h29.9v5.4h-29.9zM223.3 64.1h8.2v3.3h-8.2z" />
                                    </g>
                                    <g>
                                        <circle class="st0" cx="184.3" cy="1083.1" r="8.4" />
                                        <path class="st0"
                                            d="M199.9 1110.1c0 8.8-32 8.8-32 0s7.2-16 16-16 16 7.2 16 16z" />
                                    </g><text transform="translate(183.023 18.528)" class="st1 st11"
                                        font-size="12">EMPRESA</text><text transform="translate(5.905 35.294)"
                                        class="st7 st11 st13">PROFISSIONAL</text><text
                                        transform="translate(80.541 35.294)"
                                        class="st9 st11 st13">PROFISSIONAL</text><text
                                        transform="translate(273.761 35.294)"
                                        class="st10 st11 st13">PROFISSIONAL</text><text
                                        transform="translate(349.786 35.294)" class="st8 st11 st13">PROFISSIONAL</text>
                                    <!-- SVG old browsers fallback -->
                                    <image src="./assets/img/graph-homepage-1.png" xlink:href="" />
                                </svg>
                                <!-- FIM SVG -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center rounded-bottom">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <h3>Proporcionamos o <span class="font-weight-700">match perfeito</span><br
                                    class="d-none d-lg-block">
                                entre profissionais e
                                empresas.</h3>
                        </div>
                        <div class="col-lg-12">
                            <div class="rounded-bottom mt-lg-2 mb-lg-5">
                                <a href="registrar.html"
                                    class="btn btn-lg btn-xl btn-circle btn-danger mt-2 mb-5 mb-lg-4 mt-lg-3">Iniciar
                                    teste
                                    grátis</a>
                            </div>
                            <!-- <div class="separator separator-top zindex-100">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon fill="white" points="0 0,100 0,100 100,100 100"/>
                          </svg>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="secaoRecursos" class="section section-lg pt-200">
        <div class="container">
            <div class="row justify-content-center text-center my-md my-lg-md">
                <div class="col-lg-9">
                    <h2 class="display-3">Vantagens exclusivas</h2>
                    <p class="lead text-muted">O DiG possui recursos incríveis com o intuito de ajudar profissionais em
                        busca de
                        trabalho ou parcerias de negócio. Também é voltado para organizações em busca de empregados ou
                        de
                        profissionais para atuar em projetos. </p>
                </div>
            </div>
            <div class="row pb-0 pb-lg-4">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="px-4" data-aos="zoom-in">
                        <img src="./assets/img/feature-1-800x800.jpg"
                            class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                            alt="image">
                        <div class="pt-4 text-center">
                            <h5 class="title">
                                <span class="d-block mb-1 text-uppercase font-weight-700">Alinhamento</span>
                                <small class="h6 text-muted">Focado nas habilidades comportamentais e cognitivas, com os
                                    valores e
                                    cultura das organizações.</small>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="px-4" data-aos="zoom-in">
                        <img src="./assets/img/feature-2-800x800.jpg"
                            class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                            alt="image">
                        <div class="pt-4 text-center">
                            <h5 class="title">
                                <span class="d-block mb-1 text-uppercase font-weight-700">Humanização</span>
                                <small class="h6 text-muted">Resgatar e reforçar a humanização nos processos e nas
                                    relações
                                    profissionais.</small>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-lg-0">
                    <div class="px-4" data-aos="zoom-in">
                        <img alt="image" src="./assets/img/feature-3-800x800.jpg"
                            class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
                        <div class="pt-4 text-center">
                            <h5 class="title">
                                <span class="d-block mb-1 text-uppercase font-weight-700">Parcerias</span>
                                <small class="h6 text-muted">Match entre profissionais e empresas com objetivo de
                                    trabalho e/ou
                                    parcerias comerciais.</small>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg pb-100 pt-100 bg-gradient-texture-secondary bg-texture">
        <div class="container">
            <div class="card shadow-lg border-0" data-aos="zoom-out" data-aos-duration="400">
                <div class="p-3 p-lg-5">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <h3>Receba ofertas alinhadas com seu perfil</h3>
                            <p class="lead mt-0 mt-lg-3">
                                Nos últimos 20 anos, pesquisas internacionais comprovam que em média 87% dos
                                desligamentos nas
                                empresas ocorrem por desalinhamento cultural e comportamento inadequado e não por
                                divergências
                                técnicas da função.
                            </p>
                        </div>
                        <div class="col-lg-4 m-4 m-lg-0">
                            <a href="registrar.html"
                                class="btn btn-lg btn-circle btn-block btn-danger mb-3 mb-lg-0">Iniciar teste grátis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="secaoManar" class="section section-lg bg-white">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-10 m-auto col-lg-5 offset-lg-1 order-lg-2">
                    <img src="./assets/img/logo-manar.png" class="img-fluid floating pl-lg-5" alt="image">
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="px-4 pl-lg-0 pr-lg-5">
                        <h2 class="display-2 mb-0">Manar</h2>
                        <h3 class="heading-title">Recursos Humanos</h3>
                        <div class="mb-5 mt-4">
                            <p>A Manar RH é a empresa por trás da plataforma DiG. Somos um time de executivos levando
                                foco
                                estratégico, otimização
                                e gestão de recursos humanos e operacionais à sua empresa.</p>
                            <p>Foi criada pela união de executivos especialistas em quatro pilares de conhecimento, com
                                larga
                                vivência generalista em Recursos Humanos em importantes corporações.</p>
                        </div>
                        <a href="https://manarrh.com.br/" class="btn btn-default btn-circle btn-icon px-4">
                            <span class="btn-inner--icon">
                                <i class="fa fa-external-link mr-1"></i>
                            </span>
                            <span class="nav-link-inner--text">Conheça a Manar RH</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <contact></contact>
</div>
