<div class="row" [formGroup]="parentForm">

        <div class="col-lg-5">
            <div class="form-group mb-3">
                <label for="school">Instituição de Ensino</label>
                <div class="input-group input-group-alternative">
                    <input id="school" name="school" class="form-control" placeholder="Instituição de Ensino" type="text" formControlName="school">
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group mb-3">
                <label for="degree">Curso</label>
                <div class="input-group input-group-alternative">
                    <input id="degree" name="degree" class="form-control" placeholder="Curso" type="text" formControlName="degree">
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group mb-3">
                <label for="endYear">Ano Conclusão</label>
                <div class="input-group input-group-alternative">
                    <input id="endYear" name="endYear" class="form-control" placeholder="Ano" type="text" formControlName="endYear">
                </div>
            </div>
        </div>
    </div>