.debug {
    border: 1px solid red;
  }
  
  .debug-box {
      border: 1px solid red;
      width: 100px;
      height: 100px;
  }
  
  .debug-green {
    border: 3px solid green;
  }
  
  .debug-box-green {
    border: 1px solid green;
    width: 100px;
    height: 100px;
  }
  
  .debug-orange {
    border: 1px solid orange;
  }
  
  .debug-box-orange {
      border: 1px solid orange;
      width: 100px;
      height: 100px;
  }